body {
    background-color: #fff; /* Background color */
    font-family: Arial, sans-serif; /* Default font family */
    color: #000000; /* Default text color */
    width: 100%; /* Set width to 100% */
    max-width: none; /* Remove the maximum width */
    background-image: url('game-screen.png'); /* Set the background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    text-align: center; /* Center text */
}

.container {
    width: 100%; /* Set width to 100% */
    max-width: none; /* Remove the maximum width */
    margin: 0; /* Remove all margins */
    padding: 0; /* Remove all padding */
    background-image: url(''); /* Set the background image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    text-align: center;
}
.container header {
    color: gray;
    background-color: black;
    padding: 20px 0;
}
.container footer {
    color: white;
    padding: 20px 0;
    background-color: black;
}
.container section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Light background color for readability */
}


.bomb-container {
    background-image: url('');
}
.block-container {
    background-image: url('');
}


.button {
    background-color: #007bff; /* Background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}
.button:hover {
    background-color: #0056b3; /* Darker background color on hover */
}
