.body { 
    font-family: 'Survivant', sans-serif;
    color: #ffffff; 
    width: 100%; 
    max-width: 1260px; 
    background-color: #000000;
    background-size: cover; 
    background-position: center;
    text-align: center;
}
.container {
    width: 100%; 
    max-width: 1260px; 
    margin: 0 auto; 
    padding: 0 20px; 
    background-size: cover; 
    background-position: center; 
    text-align: center;
    font-family: 'Survivant', sans-serif;
    background-color: rgba(255, 255, 255, 0.30);
    background-color: #000000;
}
.header {
    padding: 20px; /* Example padding */
    text-align: center; /* Example text alignment */
    font-family: 'Survivant', sans-serif;
    font-size: 24px; /* Example font size */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Example box shadow */
    background-image: url('madness-header.png');
    background-color: #000000;
}
    
h1, h2 {
    color: #ffffff;
    background-color: #000000;
}
h3, h4 {
    color: #ffffff; 
    background-color: #000000;
}
h5, h6 {
    color: #ffffff;
    background-color: #000000;
}
.footer {
    background-color: #000000; /* Example background color */
    color: #ffffff; /* Example text color */
    padding: 20px; /* Example padding */
    text-align: center; /* Example text alignment */
    font-family: 'Survivant', sans-serif;
    font-size: 16px; /* Example font size */
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Example box shadow */
    background-image: url('mad-head.png');
    background-color: #000000;
}
.container section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url('');
    font-family: 'Survivant', sans-serif;
    background-color: #000000;
}
.bomb-container {
    background-image: url('');
    padding: 20px;
}
.block-container {
    background-image: url('');
    padding: 20px;
}

.button {
    background-color: yellow;
    color: #000000;
    padding: 10px 20px;
    border: 10px;
    border-radius: 40px;
    cursor: pointer; 
    font-family: 'Survivant', sans-serif;
}
.button:hover {
    background-color: red;
}
.button.bomb {
    background-image: url('bomb.gif');
    image-align: center;
}
.button.block {
    background-image: url('block.gif');
    image-align: center;
}
.button.login {
    background-color: green;
    width: auto;
}
.button.signup {
    background-color: yellow;
    width: auto;
}
