body { 
    font-family: 'Survivant', sans-serif;
    color: #000000; 
    width: 80%; 
    max-width: 850px; 
    background-color: rgba(255, 255, 255, 0.10);
    background-image: url('game-screen.png');
    background-size: cover; 
    background-position: center;
    text-align: center;
}
.container {
    width: 80%; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 0 20px; 
    background-image: url('block-button-row.png'); 
    background-size: cover; 
    background-position: center; 
    text-align: center;
    font-family: 'Survivant', sans-serif;
    background-color: rgba(255, 255, 255, 0.30);
}
.header {
    background-color: #000000; /* Example background color */
    color: #ffffff; /* Example text color */
    padding: 20px; /* Example padding */
    text-align: center; /* Example text alignment */
    font-family: 'Survivant', sans-serif;
    font-size: 24px; /* Example font size */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Example box shadow */
    background-image: url('mad-head.png');
}
    
h1, h2 {
    color: #000000;
    background-color: #ffffff;
}
h3, h4 {
    color: #808080; 
    background-color: #ffffff;
}
h5, h6 {
    color: #000000;
    background-color: #800080;
}
.footer {
    background-color: #333000; /* Example background color */
    color: #fff000; /* Example text color */
    padding: 20px; /* Example padding */
    text-align: center; /* Example text alignment */
    font-family: 'Survivant', sans-serif;
    font-size: 16px; /* Example font size */
    box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Example box shadow */
    background-image: url('bomb-button-row.png');
}
.container section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    background-image: url('');
    font-family: 'Survivant', sans-serif;
}
.bomb-container {
    background-image: url('bomb-battle.png');
    padding: 20px;
}
.block-container {
    background-image: url('block-battle.png');
    padding: 20px;
}

.button {
    background-color: none;
    color: #ff00ff;
    padding: 10px 20px;
    border: 10px;
    border-radius: 40px;
    cursor: pointer; 
    font-family: 'Survivant', sans-serif;
}
.button:hover {
    background-color: yellow;
}
.button.bomb {
    background-image: url('bomb.gif');
    width: 100%
}
.button.block {
    background-image: url('block.gif');
    width: 100%
}
.button.login {
    background-color: green;
    width: auto;
}
.button.signup {
    background-color: yellow;
    width: auto;
}
