body {
    font-family: 'survivant', sans-serif;
    font-size: 16px;
}
.standard-body {
    background-color: #ecf0f1;
    color: #333333;
    background-image: url('grey-tree.gif'); /* Replace 'standard-body-bg.jpg' with the actual path to your image */
}

.dark-body {
    background-color: #2c3e50;
    color: #ffffff;
    background-image: url('tree-bg-white.gif'); /* Replace 'dark-body-bg.jpg' with the actual path to your image */
}

.light-body {
    background-color: #ffffff;
    color: #333333;
    background-image: url('tree-bg-blue.gif'); /* Replace 'light-body-bg.jpg' with the actual path to your image */
}
.accentuated-body {
    background-color: #f39c12;
    color: #ffffff;
    background-image: url('tree-bg-navy.gif'); /* Replace 'accentuated-body-bg.jpg' with the actual path to your image */
}

.subtle-body {
    background-color: #dfe6e9;
    color: #333333;
    background-image: url('subtle-body-bg.jpg'); /* Replace 'subtle-body-bg.jpg' with the actual path to your image */
}
.primary-header {
    background-color: #3498db;
    color: #ffffff;
}
.secondary-header {
    background-color: #2ecc71;
    color: #ffffff;
}
.dark-header {
    background-color: #2c3e50;
    color: #ffffff;
}
.light-header {
    background-color: #ffffff;
    color: #333333;
}
.accentuated-header {
    background-color: #f39c12;
    color: #ffffff;
}
.standard-paragraph {
    color: #333333;
}
.dark-paragraph {
    color: #2c3e50;
}
.light-paragraph {
    color: #ffffff;
}
.accentuated-paragraph {
    color: #f39c12;
}
.subtle-paragraph {
    color: #7f8c8d;
}
}
.primary-button {
    background-color: #3498db;
    color: #ffffff;
}
.secondary-button {
    background-color: #2ecc71;
    color: #ffffff;
}
.warning-button {
    background-color: #e74c3c;
    color: #ffffff;
}
.success-button {
    background-color: #27ae60;
    color: #ffffff;
}
.info-button {
    background-color: #3498db;
    color: #ffffff;
}
.primary-footer {
    background-color: #3498db;
    color: #ffffff;
}
.secondary-footer {
    background-color: #2ecc71;
    color: #ffffff;
}
.dark-footer {
    background-color: #2c3e50;
    color: #ffffff;
}
.light-footer {
    background-color: #ffffff;
    color: #333333;
}
.accentuated-footer {
    background-color: #f39c12;
    color: #ffffff;
}
