body {
    font-family: 'Survivant', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1;
}

.container {
    margin: 1px;
    padding: 10px;
}

.button {
    padding: 10px;
    border-radius: 10px;
    font-size: 24px;
    transition: background-color 0.3s ease;
    width: 180px;
}
.button a {
    color: white;
    text-decoration: none;
}

.button:hover {
    opacity: 0.5;
    background-color: gray;
}

.top-buttons {
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 100px
}
