      div {
      height: 300px;
      width: 300px;
      display:grid,
      grid-template-rows:repeat(10, 1fr),
      grid-template-columns:repeat(10, 1fr),
      row-gap:1px,
      column-gap:1px
    }
