body {
      background-color: black;
}
/* battle-load.png */
.battle-load {
    background-image: url('battle-load.png');
}

/* battle-start.png */
.battle-start {
    background-image: url('battle-start.png');
}

/* block-battle.png */
.block-battle {
    background-image: url('block-battle.png');
}

/* block-final.png */
.block-final {
    background-image: url('block-final.png');
}

/* bomb-battle.png */
.bomb-battle {
    background-image: url('bomb-battle.png');
}

/* bomb-final.png */
.bomb-final {
    background-image: url('bomb-final.png');
}
